<template name="insuranceCompanyAdd">

  <div class="wrapper wrapper-content animated fadeInRight">
      <div class="row">
          <div class="col-lg-12">
              <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Add Insurance Company</h5>
                    <button id="back" class="btn btn-warning btn-outline pull-right">Back</button>
                </div>
                <div class="ibox-content">
                  <form id="form" action="#" class="wizard-big">
                      <fieldset>
                          <div class="row">
                              <div class="col-lg-12 col-md-12">
                                  <div class="form-group">
                                    <label>Name *</label>
                                    <input id="insuranceCompanyName" name="insuranceCompanyName" type="text" class="form-control required">
                                  </div>
                                  <div class="form-group">
                                    <label>Address *</label>
                                    <input id="insuranceCompanyAddress" name="insuranceCompanyAddress" type="text" class="form-control required">
                                  </div>
                              </div>
                          </div>
                          <div class="pull-right">
                            <button id="save" class="btn btn-success">Save & Add Commission</button>
                            <button id="cancel" class="btn btn-warning">Cancel</button>
                          </div>
                      </fieldset>
                  </form>
                </div>
            </div>

            {{# if commissionCreated}}
              {{> insuranceCompanyCommissionList}}
            {{/if}}
        </div>
    </div>
  </div>
</template>
