<template name="productAdd">

  <div class="modal inmodal" id="productAddModal" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
<!--                  <i class="fa fa-user modal-icon"></i> -->
                  <h4 class="modal-title">Product Add</h4>
              </div>
              <div class="modal-body">
                <form id="form" action="#" class="wizard-big">
                    <fieldset>
                        <div class="row">
                            <div class="col-lg-8">
                                <div class="form-group">
                                    <label>Name *</label>
                                    <input id="productName" name="productName" type="text" class="form-control required">
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="text-center">
                                    <div style="margin-top: 20px">
                                        <i class="fa fa-user" style="font-size: 180px;color: #e5e5e5 "></i>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </fieldset>
                </form>
              </div>
              <div class="modal-footer">
                <button id="cancel" data-dismiss="modal" class="btn btn-white">Cancel</button>
                <button id="save" type="button" class="btn btn-primary">Save</button>
              </div>
          </div>
      </div>
  </div>
</template>
