<template name="dashboard">
    <div class="wrapper wrapper-content">

      <!-- Monthly Dahboard -->
        <div class="row">
<!--          <div class="col-lg-3 col-md-3 col-sm-3">
              <div class="ibox float-e-margins">
                  <div class="ibox-title">
                      <span class="label label-info pull-right">Monthly</span>
                      <h5>Insurance</h5>
                  </div>
                  <div class="ibox-content">
                      <h1 class="no-margins">275,800</h1>

                      <div class="stat-percent font-bold text-info">20% <i class="fa fa-level-up"></i></div>
                      <small>New orders</small>
                  </div>
              </div>
          </div> -->
            <div class="col-lg-4 col-md-4 col-sm-4">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <span class="label label-info pull-right">Monthly</span>
                        <h5>Premium</h5>
                    </div>
                    <div class="ibox-content">
                        <h1 class="no-margins">{{premiumMonthly}}</h1>

<!--                        <div class="stat-percent font-bold text-success">98% <i class="fa fa-bolt"></i></div> -->
                        <small>Total premium</small>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-4">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <span class="label label-info pull-right">Monthly</span>
                        <h5>Cover Notes</h5>
                    </div>
                    <div class="ibox-content">
                      <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                          <h1 class="no-margins text-success">{{coverNotesBookedMonthly}}</h1>

  <!--                        <div class="stat-percent font-bold text-navy">44% <i class="fa fa-level-up"></i></div> -->
                          <small class="text-success">Booked</small>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                          <h1 class="no-margins text-danger">{{coverNotesUnbookedMonthly}}</h1>

  <!--                        <div class="stat-percent font-bold text-navy">44% <i class="fa fa-level-up"></i></div> -->
                          <small class="text-danger">Unbooked</small>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <span class="label label-info pull-right">Monthly</span>
                        <h5>Renewals</h5>
                    </div>
                    <div class="ibox-content">
                        <h1 class="no-margins">{{renewalsMonthly}}</h1>

<!--                        <div class="stat-percent font-bold text-danger">38% <i class="fa fa-level-down"></i></div> -->
                        <small>This month</small>
                    </div>
                </div>
            </div>
        </div>


<!-- Annual Dahboard -->
        <div class="row">
<!--          <div class="col-lg-3 col-md-3 col-sm-3">
              <div class="ibox float-e-margins">
                  <div class="ibox-title">
                      <span class="label label-success pull-right">Annual</span>
                      <h5>Insurance</h5>
                  </div>
                  <div class="ibox-content">
                      <h1 class="no-margins">275,800</h1>

                      <div class="stat-percent font-bold text-info">20% <i class="fa fa-level-up"></i></div>
                      <small>New orders</small>
                  </div>
              </div>
        </div> -->
            <div class="col-lg-4 col-md-4 col-sm-4">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <span class="label label-success pull-right">Annual</span>
                        <h5>Premium</h5>
                    </div>
                    <div class="ibox-content">
                        <h1 class="no-margins">40 886,200</h1>

                        <div class="stat-percent font-bold text-success">98% <i class="fa fa-bolt"></i></div>
                        <small>Total premium</small>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-4">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <span class="label label-success pull-right">Annual</span>
                        <h5>Cover Notes</h5>
                    </div>
                    <div class="ibox-content">
                      <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                          <h1 class="no-margins text-success">320</h1>

  <!--                        <div class="stat-percent font-bold text-navy">44% <i class="fa fa-level-up"></i></div> -->
                          <small class="text-success">Booked</small>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                          <h1 class="no-margins text-danger">220</h1>

  <!--                        <div class="stat-percent font-bold text-navy">44% <i class="fa fa-level-up"></i></div> -->
                          <small class="text-danger">Unbooked</small>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <span class="label label-success pull-right">Annual</span>
                        <h5>Renewals</h5>
                    </div>
                    <div class="ibox-content">
                        <h1 class="no-margins">80,600</h1>

                        <div class="stat-percent font-bold text-danger">38% <i class="fa fa-level-down"></i></div>
                        <small>In first month</small>
                    </div>
                </div>
            </div>
        </div>



        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Insurances</h5>

                        <div class="pull-right">
                            <div class="btn-group">
                                <button type="button" class="btn btn-xs btn-white active">Today</button>
                                <button type="button" class="btn btn-xs btn-white">Monthly</button>
                                <button type="button" class="btn btn-xs btn-white">Annual</button>
                            </div>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-lg-9 col-md-9 col-sm-9">
                                <div class="flot-chart">
                                    <div class="flot-chart-content" id="flot-dashboard-chart"></div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-3">
                                <ul class="stat-list">
                                    <li>
                                        <h2 class="no-margins">2,346</h2>
                                        <small>Total insurance in period</small>
                                        <div class="stat-percent">48% <i class="fa fa-level-up text-navy"></i></div>
                                        <div class="progress progress-mini">
                                            <div style="width: 48%;" class="progress-bar"></div>
                                        </div>
                                    </li>
                                    <li>
                                        <h2 class="no-margins ">4,422</h2>
                                        <small>Insurnace in last month</small>
                                        <div class="stat-percent">60% <i class="fa fa-level-down text-navy"></i></div>
                                        <div class="progress progress-mini">
                                            <div style="width: 60%;" class="progress-bar"></div>
                                        </div>
                                    </li>
                                    <li>
                                        <h2 class="no-margins ">9,180</h2>
                                        <small>Monthly income from Insurance</small>
                                        <div class="stat-percent">22% <i class="fa fa-bolt text-navy"></i></div>
                                        <div class="progress progress-mini">
                                            <div style="width: 22%;" class="progress-bar"></div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</template>
