<template name="insuranceAdd">

    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-content">

                      <form id="form" action="#" class="wizard-big cover-note">
                          <h1>General</h1>
                          <fieldset>
                              <h2>General Information</h2>
                              <br />
                              <div class="row">
                                <div class="col-lg-3 col-md-3 col-sm-3">
                                  <div class="i-checks">
                                    <label class="">
                                      <div class="icheckbox_square-green" style="position: relative;">
                                        <input id="policyBooked" type="checkbox">
                                        <ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins>
                                      </div>
                                      <i></i>
                                      Policy Booked
                                    </label>
                                  </div>
                                </div>
                              </div>
                              <br />
                              <div class="row">
                                <div class="col-lg-3 col-md-3 col-sm-3">
                                  <div class="form-group">
                                    <label id="coverNotePolicyNo" class="font-normal">Cover Note.</label>
                                    <input id="coverNote" name="coverNote" type="text" class="form-control required">
                                  </div>
                                </div>
                                  <div class="col-lg-3 col-md-3 col-sm-3">
                                    <div class="form-group" id="date_date">
                                        <label class="font-normal">Issue Date</label>
                                        <div class="input-group date">
                                            <span class="input-group-addon">
                                              <i class="fa fa-calendar"></i>
                                            </span>
                                            <input id="issueDate" name="issueDate" type="text" data-date-format='yy-mm-dd' class="form-control required">
                                        </div>
                                    </div>
                                  </div>
                                  <div class="col-lg-3 col-md-3 col-sm-3">
                                    <div class="form-group" id="date_date">
                                        <label class="font-normal">Start Date</label>
                                        <div class="input-group date">
                                            <span class="input-group-addon">
                                              <i class="fa fa-calendar"></i>
                                            </span>
                                            <input id="startDate" name="startDate" type="text" class="form-control required">
                                        </div>
                                    </div>
                                  </div>
                                  <div class="col-lg-3 col-md-3 col-sm-3">
                                    <div class="form-group" id="date_date">
                                        <label class="font-normal">End Date</label>
                                        <div id="endDate">MM/DD/YYYY</div>
                                    </div>
                                  </div>
                                </div>

                                <div class="row">
                                  <div class="col-lg-4 col-md-4 col-sm-4">
                                    <div class="form-group">
                                      <label class="font-normal">Insurance Company *</label>
                                      <div>
                                          <select id="insuranceCompany" data-placeholder="Insurance Company" class="chosen-select" tabindex="2">
                                            <option value="">Select Insurance Company</option>
                                            {{#each insuranceCompany}}
                                              <option value={{_id}}>{{name}}</option>
                                            {{/each}}
                                          </select>
                                      </div>
                                    </div>
                                  </div>

                                  <div class="col-lg-4 col-md-4 col-sm-4">
                                    <div class="form-group">
                                      <label class="font-normal">Product *</label>
                                      <div>
                                          <select id="product" data-placeholder="Product" class="chosen-select" tabindex="2">
                                            <option value="">Select Product</option>
                                            {{#each product}}
                                              <option value={{_id}}>{{name}}</option>
                                            {{/each}}
                                          </select>
                                      </div>
                                    </div>
                                  </div>

                                  <div class="col-lg-4 col-md-4 col-sm-4">
                                    <div class="form-group">
                                      <label class="font-normal">Category *</label>
                                      <div>
                                          <select id="insuranceCategory" data-placeholder="Insurance Company" class="chosen-select" tabindex="2">
                                            <option value="">Select Insurance Category</option>
                                            {{#each insuranceCategory}}
                                              <option value={{_id}}>{{name}}</option>
                                            {{/each}}
                                          </select>
                                      </div>
                                    </div>
                                  </div>
                                </div>

                                <div class="row">
                                  <div class="col-lg-6 col-md-6 col-sm-6">
                                    <div class="form-group">
                                      <label class="font-normal">Branch *</label>
                                      <div>
                                        {{branch.name}}
                                      </div>
                                    </div>
                                  </div>

                                  <div class="col-lg-6 col-md-6 col-sm-6">
                                    <div class="form-group">
                                      <label class="font-normal">Team Name*</label>
                                      <div>
                                          <select id="team" data-placeholder="Team" class="chosen-select" tabindex="2">
                                            <option value="">Select Team</option>
                                            {{#each team}}
                                              <option value={{_id}}>{{name}}</option>
                                            {{/each}}
                                          </select>
                                      </div>
                                    </div>
                                  </div>

                                  <div class="col-lg-3 col-md-3 col-sm-3" id="teamErrorMsg">
                                  </div>
                                </div>


                                <div class="row">
                                <div id="uploadPolicy" class="ibox col-lg-6 col-md-6 col-sm-6 form-group">
                                  <div class="ibox-content">
                                  <label class="font-normal">Upload Policy</label>

                                  <div class="input-group">
                                    <input id="uploadFileName" type="file" class="form-control">
                                    <span class="input-group-btn">
                                      <button id="uploadFileButton" type="button" class="btn btn-primary">Upload</button>
                                    </span>
                                  </div>
                                </div>
                              </div>
                            </div>
                              <br>
                              <br>
                              <br>
                          </fieldset>

            <!--  Second Step -->

                          <h1>Customer & Products</h1>
                          <fieldset>
                              <h2>Customer and Vehicle Information</h2>
                              <div class="row">
                                  <div class="col-lg-6 col-md-6 col-sm-6">
                                    <div class="form-group">
                                        <label class="font-normal">Customer Name *</label>
                                        <input id="customerName" type="text" class="form-control error" required>
                                    </div>
                                  </div>

                                  <div class="col-lg-3 col-md-3 col-sm-3">
                                    <div class="form-group">
                                        <label class="font-normal">Email *</label>
                                        <input id="customerEmail" type="email" class="form-control error">
                                    </div>
                                  </div>

                                  <div class="col-lg-3 col-md-3 col-sm-3">
                                    <div class="form-group">
                                        <label class="font-normal">Mobile No *</label>
                                        <input id="customerMobile" type="text" class="form-control error">
                                    </div>
                                  </div>

                                  <div class="col-lg-12 col-md-12 col-sm-12">
                                    <div class="form-group">
                                        <label class="font-normal">Address</label>
                                        <textarea id="customerAddress" rows="4" class="form-control error" required></textarea>
                                    </div>
                                  </div>

                                  <hr />

                                   <div class="col-lg-6 col-md-6 col-sm-6">
                                     <div class="form-group">
                                         <label class="font-normal">Vehicle Make</label>
                                         <input id="vehicleMake" type="text" class="form-control error" required>
                                     </div>
                                   </div>

                                   <div class="col-lg-6 col-md-6 col-sm-6">
                                     <div class="form-group">
                                         <label class="font-normal">Vehicle Model</label>
                                         <input id="vehicleModel" type="text" class="form-control error" required>
                                     </div>
                                   </div>

                                    <div class="col-lg-6 col-md-6 col-sm-6">
                                        <div class="form-group">
                                            <label class="font-normal">CC</label>
                                            <input id="vehicleCC" name="vehicleCC" type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6">
                                      <div class="form-group">
                                          <label class="font-normal">IDV *</label>
                                          <input id="idv" type="text" class="form-control error" required>
                                      </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6">
                                      <div class="form-group" id="date_year">
                                          <label class="font-normal">Manufacturing Year</label>
                                          <div class="input-group date readonly">
                                              <span class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                              </span>
                                              <input id="manufactureYear" name="manufactureYear" type="text" class="form-control">
                                          </div>
                                      </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6">
                                      <div class="form-group" id="date_date">
                                          <label class="font-normal">Registration date</label>
                                          <div class="input-group date readonly">
                                              <span class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                              </span>
                                              <input id="registrationDate" name="RegistrationDate" type="text" class="form-control">
                                          </div>
                                      </div>
                                    </div>

                                    <div class="col-lg-4 col-md-4 col-sm-4">
                                      <div class="form-group">
                                          <label class="font-normal">Registration No. *</label>
                                          <input id="registrationNo" type="text" class="form-control">
                                      </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4">
                                      <div class="form-group">
                                          <label class="font-normal">Engine No. *</label>
                                          <input id="engineNo" type="text" class="form-control">
                                      </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4">
                                      <div class="form-group">
                                          <label class="font-normal">Chassis No. *</label>
                                          <input id="chassisNo" type="text" class="form-control">
                                      </div>
                                    </div>

                                    <div class="col-lg-6 col-md-6 col-sm-6">
                                      <div class="form-group">
                                          <label class="font-normal">Hypothication *</label>
                                          <input id="hypothication" type="text" class="form-control">
                                      </div>
                                    </div>
                              </div>
                          </fieldset>


            <!--  Third Step -->

                          <h1>Premium & Zero Dep.</h1>
                          <fieldset>
                              <div class="col-md-12" id="idvValue">
                              </div>

                              <br>

                            <div class="row">
                              <div class="col-lg-6 col-md-6 col-sm-6">
                                <h2>Premium</h2>
                                <div class="row">
                                  <div class="form-group">
                                    <label class="col-lg-4 col-md-4 col-sm-4 control-label">Rate (%)</label>
                                    <div class="col-lg-4 col-md-4 col-sm-4">
                                      <input id="rate" type="text" class="form-control required" value=0>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 pull-right" id="rateValue">
                                      <strong>0</strong>
                                    </div>
                                  </div>
                                </div>

                                <div class="row">
                                  <div class="form-group">
                                    <label class="col-lg-4 col-md-4 col-sm-4 control-label">OD Discount (%)</label>
                                    <div class="col-lg-4 col-md-4 col-sm-4">
                                      <input id="odDiscount" type="number" class="form-control required" value=0>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 pull-right" id="odDiscountValue">
                                      <strong>0</strong>
                                    </div>
                                  </div>
                                </div>

                                <div class="row">
                                  <div class="form-group">
                                    <label class="col-lg-4 col-md-4 col-sm-4 control-label">CNG IDV (4%)</label>
                                    <div class="col-lg-4 col-md-4 col-sm-4">
                                      <input id="cngIdv" type="number" class="form-control required" value=0>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 pull-right" id="cngIdvValue">
                                      <strong>0</strong>
                                    </div>
                                  </div>
                                </div>

                                <div class="row">
                                  <div class="form-group">
                                    <label class="col-lg-4 col-md-4 col-sm-4 control-label">Anti-theft (%)</label>
                                    <div class="col-lg-4 col-md-4 col-sm-4">
                                      <input id="antiTheft" type="number" class="form-control required" value=0>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 pull-right" id="antiTheftValue">
                                      <strong>0</strong>
                                    </div>
                                  </div>
                                </div>

                                <div class="row">
                                  <div class="form-group">
                                    <label class="col-lg-4 col-md-4 col-sm-4 control-label">NCB Disount(%)</label>
                                    <div class="col-lg-4 col-md-4 col-sm-4">
                                      <input id="ncb" type="number" class="form-control required" value=0>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 pull-right" id="ncbValue">
                                      <strong>0</strong>
                                    </div>
                                  </div>
                                </div>

                                <div class="row">
                                  <label class="col-lg-4 col-md-4 col-sm-4 control-label">Basic Premium (A)</label>
                                  <div class="col-lg-4 col-md-4 col-sm-4"></div>
                                  <div class="col-lg-4 col-md-4 col-sm-4" id="totalA"><h3><strong>0</strong></h3></div>
                                </div>
                              </div>

                              <div class="col-lg-6 col-md-6 col-sm-6">
                                <h2>Dep Cover</h2>
                                <div class="row">
                                  <div class="form-group">
                                    <label class="col-lg-4 col-md-4 col-sm-4 control-label">Zero Dep (%)</label>
                                    <div class="col-lg-4 col-md-4 col-sm-4">
                                      <input id="zeroDep" type="number" class="form-control required" value=0>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 pull-right" id="zeroDepValue">
                                      <strong>0</strong>
                                    </div>
                                  </div>
                                </div>

                                <div class="row">
                                  <div class="form-group">
                                    <label class="col-lg-4 col-md-4 col-sm-4 control-label">Consumables (%)</label>
                                    <div class="col-lg-4 col-md-4 col-sm-4">
                                      <input id="consumables" type="number" class="form-control required" value=0>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 pull-right" id="consumablesValue">
                                      <strong>0</strong>
                                    </div>
                                  </div>
                                </div>

                                <div class="row">
                                  <div class="form-group">
                                    <label class="col-lg-4 col-md-4 col-sm-4 control-label">Hydrostatic lock (Engine) (%)</label>
                                    <div class="col-lg-4 col-md-4 col-sm-4">
                                      <input id="hydrostaticLock" type="number" class="form-control required" value=0>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 pull-right" id="hydrostaticLockValue">
                                      <strong>0</strong>
                                    </div>
                                  </div>
                                </div>

                                <div class="row">
                                  <div class="form-group">
                                    <label class="col-lg-4 col-md-4 col-sm-4 control-label">Tyres (%)</label>
                                    <div class="col-lg-4 col-md-4 col-sm-4">
                                      <input id="tyres" type="number" class="form-control required" value=0>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 pull-right" id="tyresValue">
                                      <strong>0</strong>
                                    </div>
                                  </div>
                                </div>

                                <div class="row">
                                  <div class="form-group">
                                    <label class="col-lg-4 col-md-4 col-sm-4 control-label">RTI (%)</label>
                                    <div class="col-lg-4 col-md-4 col-sm-4">
                                      <input id="rti" type="number" class="form-control required" value=0>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4"></div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 pull-right" id="rtiValue">
                                      <strong>0</strong>
                                    </div>
                                  </div>
                                </div>


                                <div class="row">
                                  <label class="col-lg-4 col-md-4 col-sm-4 control-label">Total Dep Cover (B)</label>
                                  <div class="col-lg-4 col-md-4 col-sm-4"></div>
                                  <div class="col-lg-4 col-md-4 col-sm-4" id="totalB"><h3><strong>0</strong></h3></div>
                                </div>

                                <div class="row">
                                  <div class="form-group">
                                    <label class="col-lg-4 col-md-4 col-sm-4 control-label">Key Consumables and RSA</label>
                                    <div class="col-lg-4 col-md-4 col-sm-4">
                                      <input id="keyConsumablesRSA" type="number" class="form-control required" value=0>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 pull-right" id="keyConsumablesRSAValue">
                                      <strong>0</strong>
                                    </div>
                                  </div>
                                </div>

                              </div>
                            </div>


                              <div class="col-lg-6 col-md-6 col-sm-6">
                                <h2>Additions</h2>

                                <div class="row">
                                  <div class="form-group">
                                    <label class="col-lg-4 col-md-4 col-sm-4 control-label">Compulsory Additions</label>
                                    <div class="col-lg-4 col-md-4 col-sm-4">
                                      <input id="compulsaryAdditions" type="number" class="form-control required" value=0>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 pull-right" id="compulsaryAdditionsValue">
                                      <strong>0</strong>
                                    </div>
                                  </div>
                                </div>

                                <div class="row">
                                  <div class="form-group">
                                    <label class="col-lg-4 col-md-4 col-sm-4 control-label">Third Party</label>
                                    <div class="col-lg-4 col-md-4 col-sm-4">
                                      <input id="thirdParty" type="number" class="form-control required" value=0>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 pull-right" id="thirdPartyValue">
                                      <strong>0</strong>
                                    </div>
                                  </div>
                                </div>

                                <div class="row">
                                  <div class="form-group">
                                    <label class="col-lg-4 col-md-4 col-sm-4 control-label">Owner Driver</label>
                                    <div class="col-lg-4 col-md-4 col-sm-4">
                                      <input id="ownerDriver" type="number" class="form-control required" value=0>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 pull-right" id="ownerDriverValue">
                                      <strong>0</strong>
                                    </div>
                                  </div>
                                </div>

                                <div class="row">
                                  <div class="form-group">
                                    <label class="col-lg-4 col-md-4 col-sm-4 control-label">Paid Driver</label>
                                    <div class="col-lg-4 col-md-4 col-sm-4">
                                      <input id="paidDriver" type="number" class="form-control required" value=0>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 pull-right" id="paidDriverValue">
                                      <strong>0</strong>
                                    </div>
                                  </div>
                                </div>

                                <div class="row">
                                  <div class="form-group">
                                    <label class="col-lg-4 col-md-4 col-sm-4 control-label">Passenger</label>
                                    <div class="col-lg-4 col-md-4 col-sm-4">
                                      <input id="passenger" type="number" class="form-control required" value=0>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 pull-right" id="passengerValue">
                                      <strong>0</strong>
                                    </div>
                                  </div>
                                </div>

                                <div class="row">
                                  <div class="form-group">
                                    <label class="col-lg-4 col-md-4 col-sm-4 control-label">CNG Third Party</label>
                                    <div class="col-lg-4 col-md-4 col-sm-4">
                                      <input id="cngThirdParty" type="number" class="form-control required" value=0>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 pull-right" id="cngThirdPartyValue">
                                      <strong>0</strong>
                                    </div>
                                  </div>
                                </div>

                                <div class="row">
                                  <label class="col-lg-4 col-md-4 col-sm-4 control-label">Total Additions (C)</label>
                                  <div class="col-lg-4 col-md-4 col-sm-4"></div>
                                  <div class="col-lg-4 col-md-4 col-sm-4" id="totalC"><h3><strong>0</strong></h3></div>
                                </div>
                              </div>

                              <div class="col-lg-6 col-md-6 col-sm-6">
                                <br />
                                <br />

                                <div class="row">
                                  <div class="col-lg-6 col-md-6 col-sm-6 border-right">
                                    <div class="row">
                                      <h5 class="col-lg-6 col-md-6 col-sm-6 control-label">OD Premium (A+B+RSA)</h5>
                                      <div class="col-lg-6 col-md-6 col-sm-6" id="totalAB"><h5><strong>0</strong></h5></div>
                                    </div>
<!--                                    <div class="row">
                                      <h5 class="col-md-6 control-label">Commission Paid</h5>
                                      <div class="col-md-6" id="commissionPaid"><h5><strong>0</strong></h5></div>
                                    </div> -->
                                  </div>

                                  <div class="col-lg-6 col-md-6 col-sm-6">
                                    <div class="row">
                                        <h3 class="col-lg-6 col-md-6 col-sm-6 control-label">Total (A+B+C)</h3>
                                        <div class="col-lg-6 col-md-6 col-sm-6" id="totalABC"><h3><strong>0</strong></h3></div>
                                    </div>

                                    <div class="row">
                                      <div class="form-group">
                                        <label class="col-lg-4 col-md-4 col-sm-4 control-label">Tax(%)</label>
                                        <div class="col-lg-6 col-md-6 col-sm-6">
                                          <input id="serviceTaxInput" type="text" class="form-control required" value="18">
                                        </div>
                                        <div class="col-lg-2 col-md-2 pull-right" id="serviceTaxValue">
                                          <strong>0</strong>
                                        </div>
                                      </div>
                                    </div>

                                    <div class="row">
                                      <h3 class="col-lg-6 col-md-6 col-sm-6 control-label">Grand Total</h3>
                                      <div class="col-lg-6 col-md-6 col-sm-6" id="grandTotal"><h3><strong>0</strong></h3></div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                          </fieldset>


            <!--Forth Step -->
                          <h1>Payments</h1>

                          <fieldset>
                              <h2>Payments</h2>
                              <div class="row">

                              <div class="col-lg-4 col-md-4 col-sm-4">
                                <div><h1><strong>1</strong></h1></div>
                                  <div class="form-group">
                                      <label>Cheque from</label>
                                      <input id="chequeFrom1" type="text" class="form-control">
                                  </div>

                                  <div class="form-group">
                                      <label>Cheque No</label>
                                      <input id="chequeNo1" type="text" class="form-control">
                                  </div>

                                  <div class="form-group">
                                      <label>Cheque Date</label>
                                      <input id="chequeDate1" type="text" class="form-control">
                                  </div>

                                  <div class="form-group">
                                      <label>Cheque Amount</label>
                                      <input id="chequeAmount1" type="text" class="form-control">
                                  </div>

                                  <div class="form-group">
                                      <label>Bank and Branch</label>
                                      <input id="bankNBranch1" type="text" class="form-control">
                                  </div>

                                  <div class="p-w-md">
                                    <h4>Cheque Source</h4>
                                    <div class="radio">
                                      <input type="radio" id="source11" value="Client" name="source1" checked="">
                                      <label for="inlineRadio1">Client</label>
                                    </div>
                                    <div class="radio">
                                      <input type="radio" id="source12" value="Autofin" name="source1">
                                      <label for="inlineRadio2">Autofin</label>
                                    </div>
                                  </div>

                                  <div class="form-group">
                                      <label>Remarks</label>
                                      <textarea id="remarksPayment1" rows="4" class="form-control"></textarea>
                                  </div>
                              </div>

                              <div class="col-lg-4 col-md-4 col-sm-4">
                                <div><h1><strong>2</strong></h1></div>
                                  <div class="form-group">
                                      <label>Cheque from</label>
                                      <input id="chequeFrom2" type="text" class="form-control">
                                  </div>

                                  <div class="form-group">
                                      <label>Cheque No</label>
                                      <input id="chequeNo2" type="text" class="form-control">
                                  </div>

                                  <div class="form-group">
                                      <label>Cheque Date</label>
                                      <input id="chequeDate2" type="text" class="form-control">
                                  </div>

                                  <div class="form-group">
                                      <label>Cheque Amount</label>
                                      <input id="chequeAmount2" type="text" class="form-control">
                                  </div>

                                  <div class="form-group">
                                      <label>Bank and Branch</label>
                                      <input id="bankNBranch2" type="text" class="form-control">
                                  </div>

                                  <div class="p-w-md">
                                    <h4>Cheque Source</h4>
                                    <div class="radio">
                                      <input type="radio" id="source21" value="Client" name="source2" checked="">
                                      <label for="inlineRadio1">Client</label>
                                    </div>
                                    <div class="radio">
                                      <input type="radio" id="source22" value="Autofin" name="source2">
                                      <label for="inlineRadio2">Autofin</label>
                                    </div>
                                  </div>

                                  <div class="form-group">
                                      <label>Remarks</label>
                                      <textarea id="remarksPayment2" rows="4" class="form-control"></textarea>
                                  </div>
                              </div>

                              <div class="col-lg-4 col-md-4 col-sm-4">
                                <div><h1><strong>3</strong></h1></div>
                                  <div class="form-group">
                                      <label>Cheque from</label>
                                      <input id="chequeFrom3" type="text" class="form-control">
                                  </div>

                                  <div class="form-group">
                                      <label>Cheque No</label>
                                      <input id="chequeNo3" type="text" class="form-control">
                                  </div>

                                  <div class="form-group">
                                      <label>Cheque Date</label>
                                      <input id="chequeDate3" type="text" class="form-control">
                                  </div>

                                  <div class="form-group">
                                      <label>Cheque Amount</label>
                                      <input id="chequeAmount3" type="text" class="form-control">
                                  </div>

                                  <div class="form-group">
                                      <label>Bank and Branch</label>
                                      <input id="bankNBranch3" type="text" class="form-control">
                                  </div>

                                  <div class="p-w-md">
                                    <h4>Cheque Source</h4>
                                    <div class="radio">
                                      <input type="radio" id="source31" value="Client" name="source3" checked="">
                                      <label for="inlineRadio1">Client</label>
                                    </div>
                                    <div class="radio">
                                      <input type="radio" id="source32" value="Autofin" name="source3">
                                      <label for="inlineRadio2">Autofin</label>
                                    </div>
                                  </div>

                                  <div class="form-group">
                                      <label>Remarks</label>
                                      <textarea id="remarksPayment3" rows="4" class="form-control"></textarea>
                                  </div>
                              </div>
                            </div>


                            <div class="row">
                                <div class="hr-line-dashed"></div>



                                <div class="col-lg-4 col-md-4 col-sm-4">
                                  <div class="form-group">
                                      <label>Final Premium (A+B+C)</label>
                                      <div id="finalPremiumValue"><h3>0</h3></div>
                                  </div>
                                </div>

                                <div class="col-lg-4 col-md-4 col-sm-4">
                                  <div class="form-group">
                                      <label>Cheque Amount</label>
                                      <div id="chequeAmountValue"><h3>0</h3></div>
                                  </div>
                                </div>

                                <div class="col-lg-4 col-md-4 col-sm-4">
                                  <div class="form-group">
                                      <label>SUBV/Short Premium</label>
                                      <div id="shortPremiumValue"><h3>0</h3></div>
                                  </div>
                                </div>

                              </div>
                          </fieldset>

            <!--Fifth Step -->

                            <h1>Prev. Policy</h1>
                            <fieldset>
                                <h2>Previous Policy</h2>
                                <div class="row">
                                  <div class="col-lg-6 col-md-6 col-sm-6">
                                    <div class="form-group">
                                        <label>Prev. Policy No.</label>
                                        <input id="prevPolicyNo" type="text" class="form-control">
                                    </div>
                                  </div>

                                  <div class="col-lg-6 col-md-6 col-sm-6">
                                    <div class="form-group">
                                        <label>Prev. Insurance Company</label>
                                        <input id="prevPolicyInsuranceCompany" type="text" class="form-control">
                                    </div>
                                  </div>

                                  <div class="col-lg-6 col-md-6 col-sm-6">
                                    <div class="form-group">
                                        <label>Prev. NCB Discount</label>
                                        <input id="prevPolicyNCBDiscount" type="text" class="form-control">
                                    </div>
                                  </div>

                                  <div class="col-lg-6 col-md-6 col-sm-6">
                                    <div class="form-group">
                                        <label>Prev. Premium Amount</label>
                                        <input id="prevPolicyPremiumAmount" type="text" class="form-control">
                                    </div>
                                  </div>
                                </div>
                            </fieldset>
                      </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
